.anime_in_watch {
    color: white;
    visibility: hidden;
    padding: 50px 0px 50px 30px;
}

.anime_in_watch_header p {
    margin-left: 75px;
    font-size: 1.5rem;
    line-height: 0px;
    text-shadow: 0px 0px 20px whitesmoke, 0px 0px 10px black;
}

.anime_in_watch_menu {
    display: flex;
    align-items: center;
}

.left_control_button {
    transform: translateX(30px);
    position: relative;
    left: 10px;
}

.right_control_button {
    transform: translateX(-30px);
    position: relative;
    right: 10px;
}

.control_button {
    color: black;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s linear, color 0.1s linear;
    background: none;
    z-index: 1;
}

.anime_in_watch_menu_content {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 25px;
}

.anime_in_watch_menu_content::-webkit-scrollbar {
    display: none;
}

.left_control_button .control_button_content span::before {
    content: "<";
    font-size: 3rem;
}

.right_control_button .control_button_content span::before {
    content: ">";
    font-size: 3rem;
}

.anime_in_watch_menu:hover>.control_button {
    opacity: 1;
}

.control_button:hover {
    color: white;
}

@media screen and (max-width: 500px) {
    .anime_in_watch_menu_content {
        gap: 12.5px
    }
}