.entrance_text {
    color: white;
    text-align: center;
    margin-top: 200px;
}

.entrance_main_text {
    font-size: 5rem;
    margin-bottom: 0px;
}

.entrance_extra_text {
    font-size: 1rem;
    margin-top: 0px;
}

.entrance_main {
    margin-top: 135px;
    display: flex;
}

.entrance_button {
    background-color: transparent;
    border: none;
    margin: auto;
    transform: rotate(-90deg) scaleX(-1) translateY(50px) translateX(30px);
    user-select: none;
    cursor: default;
}

.entrance_button img {
    cursor: pointer;
    width: 250px;
}

@keyframes buttonDisappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(-15deg) translateX(100px);
        cursor: default;
    }
}

@media screen and (max-width: 600px) {
    .center_components{
        display: none;
    }
    .entrance_main_text{
        font-size: 2.5rem;
    }   
    .entrance_extra_text{
        font-size: 0.5rem;
    }


    .entrance_button img {
        width: 200px;
    }
}