.anime-page {
    background-image: url("../../../public/images/background_image_main.png");
    background-size: cover;
}

.anime-page__wrapper {
    background-image: url("../../../public/images/background_image_main.png");
    background-size: cover;
}

.anime-page__content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
}

.anime-page__episodes {
    display: grid;
    overflow-y: scroll;
    max-height: 350px;
}

.anime-page__no-anime-error {
    font-size: 2.5rem;
    color: rgb(140, 50, 50);
    text-align: center;
}

.anime-page__episodes::-webkit-scrollbar {
    display: none;
}

@media screen and (min-width: 751px) and (max-width: 950px) {
    .anime-page__content {
        flex-direction: column;
    }

    .anime-page__episodes {
        grid-template-columns: 1fr 1fr;
        max-height: 300px;
    }

    .anime-page__episode {
        margin-left: 10px
    }
}

@media screen and (max-width: 750px) {
    .anime-page__content {
        flex-direction: column;
    }

    .anime-page__episodes {
        grid-template-columns: 1fr;
        max-height: 300px;
    }
}