.entrance {
    background-image: url("../../../public/images/background_image_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bottom_section {
    min-height: 44px;
    transition: background 0.25s ease-in;
}