.home__entrance {
    background-image: url("../../../public/images/background_image_main.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.home__bottom-section {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1) 75%);
}