.entrance {
    background-image: url("../../../public/images/background_image_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.bottom_section {
    min-height: 44px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1) 75%);
}