.profile-page {
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/images/background_image_main.png");
    background-size: cover;
}

.profile-page__content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 75vw;
    margin-top: 100px;
    border-radius: 15px;
    padding: 10px 0px 30px 0px;
}

.settings__sections {
    display: flex;
    justify-content: space-between;
}

.settings__title {
    color: blanchedalmond;
    border-bottom: 1px solid rgb(220, 200, 200);
}

.settings__section {
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.25rem;
}

.telegram-form input {
    padding: 4px;
    font-size: 0.75rem;
    border: none;
    text-align: center;
    border-radius: 4px;
    outline: none;
}

.telegram-form__button {
    margin-left: 4px;
    border-radius: 4px;
    padding: 3px;
    border: none;
    cursor: pointer;
}

.telegram-form__link {
    float: right;
    color: gray;
    font-size: 0.85rem;
    margin-top: 4px;
}

.settings__logout-button {
    margin-left: auto;
    transform: translate(-10px, 10px);
    border: none;
    color: rgb(255, 100, 100);
    background-color: transparent;
    font-size: 1.25rem;
    cursor: pointer;
    border-bottom: 1px;
}

@keyframes successAnimation {
    0% {}

    50% {
        box-shadow: 0px 0px 20px 1px green;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes failureAnimation {
    0% {}

    50% {
        box-shadow: 0px 0px 25px 1px red;
    }

    100% {
        box-shadow: none;
    }
}