.nav {
    padding-top: 15px;
}

.nav__all-components {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    color: white;
    min-height: 69.8px;
}

.nav__left-components,
.nav__center-components,
.nav__right-components {
    display: flex;
    align-items: center;
}

.nav__center-components {
    color: #9ea0a1;
    justify-content: space-between;
    gap: 28px;
    font-size: 1.25rem;
    padding-right: 20px;
    margin-left: 50px;
}

.nav__right-components {
    color: #9ea0a1;
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    .nav__all-components {
        gap: 0;
    }

    .nav__left-components {
        margin-left: 15px;
    }

    .nav__center-components div:not(:last-child) {
        display: none;
    }

    .nav__right-components {
        display: none;
    }
}