nav {
    padding-top: 15px;
}

.all_components {
    display: flex;
    justify-content: space-around;
    gap: 10%;
    color: white;
    min-height: 69.8px;
}


.left_components,
.center_components,
.right_components {
    display: flex;
    align-items: center;
}

.center_components {
    color: #9ea0a1;
    justify-content: space-between;
    gap: 28px;
    font-size: 1.25rem;
    padding-right: 20px;
}

.right_components {
    color: #9ea0a1;
    font-size: 1.25rem;
}

@media screen and (max-width: 600px) {
    .left_components {
        margin-left: 15px;
    }

    .center_components,
    .right_components {
        display: none;
    }

    .all_components {
        justify-content: start;
    }

}