span {
    font-size: 1.5rem;
    text-align: center;
    transition: font-size 0.1s linear, text-shadow 0.1s linear;
    position: sticky;
}

.logo_class {
    margin-bottom: 12.5px;
    max-width: 87px;
    transition: transform 0.09s linear;
}

.logo_class:hover { 
    animation: pulse 1.25s linear infinite;
}