.anime_big_component {
    font-size: 1.5rem;
    width: 500px;
    height: 400px;
    min-width: 300px;
    min-height: 200px;
    overflow: hidden;
}

.anime_big_component_background {
    position: relative;
    bottom: 358px;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
    opacity: 0.9;
    transition: opacity 0.5s;
}

.anime_big_component_description {
    color: white;
    position: relative;
    width: 350px;
    height: 300px;
    transform: translate(75px, 15px);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3 ease;
    z-index: 1;
    text-align: center;
    text-shadow: 0px 0px 5px black;

}

.anime_big_component_name {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 35px;
    transform: translate(25px, -15px);
    transition: opacity 0.2s linear;
    color: whitesmoke;
    text-shadow: 0px 0px 1px black;
}

.anime_big_component:hover>.anime_big_component_description {
    opacity: 1;
}

.anime_big_component:hover>.anime_big_component_background {
    opacity: 0.25;
}

.anime_big_component:hover>.anime_big_component_name {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    .anime_big_component {
        font-size: 0.9rem;
        width: 300px;
        height: 250px;
    }

    .anime_big_component_background {
        bottom: 200px;
    }

    .anime_big_component_name {
        width: 250px;
        height: 35px;
        transform: translate(25px, 25px);
    }

    .anime_big_component_description {
        width: 250px;
        height: 150px;
        transform: translate(30px, 15px);
    }

}