.anime-small-card {
    width: 300px;
    height: 200px;
    min-width: 300px;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.anime-small-card__background {
    position: relative;
    bottom: 185px;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 40px;
    opacity: 0.9;
    transition: opacity 0.4s ease-out;
}

.anime-small-card__description {
    position: relative;
    width: 200px;
    height: 150px;
    transform: translate(50px, 15px);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3 ease;
    color: white;
}

.anime-small-card__name {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 35px;
    overflow: hidden;
    transform: translate(25px);
    transition: opacity 0.2s linear;
    color: white;
}

.anime-small-card:hover>.anime-small-card__description {
    opacity: 1;
}

.anime-small-card:hover>.anime-small-card__background {
    opacity: 0.25;
}

.anime-small-card:hover>.anime-small-card__name {
    opacity: 0;
}