.anime_small_component {
    width: 300px;
    height: 200px;
    min-width: 300px;
    min-height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.anime_small_component_background {
    position: relative;
    bottom: 185px;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 40px;
    opacity: 0.9;
    transition: opacity 0.4s ease-out;
}

.anime_small_component_description {
    position: relative;
    width: 200px;
    height: 150px;
    transform: translate(50px, 15px);
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3 ease;
}

.anime_small_component_name {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 35px;
    overflow: hidden;
    transform: translate(25px);
    transition: opacity 0.2s linear;
}

.anime_small_component:hover>.anime_small_component_description {
    opacity: 1;
}

.anime_small_component:hover>.anime_small_component_background {
    opacity: 0.25;
}

.anime_small_component:hover>.anime_small_component_name {
    opacity: 0;
}

@media screen and (max-width: 500px) {
    .anime_small_component {
        width: 200px;
        min-width: 200px;
    }

    .anime_small_component_description {
        transform: translate(10px, 15px);
    }

    .anime_small_component_name {
        transform: translate(15px, -15px);
        height: 55px;
        width: 200px;
    }

    .anime_small_component_background {
        bottom: 205px;
    }

}