.login-component__link {
    display: block;
    width: 150px;
    height: 30px;
    text-align: center;
    color: whitesmoke !important;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    padding-top: 15px;
    transition: color 0.15s linear, font-size 0.25s, padding 0.25s;
}

.login-component__link:hover {
    padding: 15px;
    padding-top: 20px;
    color: rgb(250, 240, 230) !important;
}

@media screen and (max-width: 600px) {
    .login-component__link {
        padding-bottom: 20px;
    }

    .login-component__link:hover {
        padding-top: 10px;
    }
}